mixin colorSample(firstLine, secondLine, className)
    .color-sample
        div(class="color-sample__sample color-sample__sample_"+className)
        p.color-sample__description #{firstLine} <br> #{secondLine}