mixin doctypeHead(title)
    doctype html
    head 
        meta(lang="ru")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../css/normalize.css")
        link(rel="stylesheet" href="../css/main.css")
        title #{title}


mixin header(username)
    header.main-header 
        .main-header__container
            .main-header__item.main-logo
                img(src="../img/Logo.svg", alt="logo")
            nav.main-header__item.navigation 
                ul.navigation__list
                    li.navigation__item
                        a(src="#" class="navigation__button navigation__button_bold") О нас
                    li.navigation__item.navigation__toggle-menu
                        a(src="#" class="navigation__menu") Услуги
                        ul.navigation__submenu
                            li.navigation__submenu-item Услуга 1
                            li.navigation__submenu-item Услуга 2
                            li.navigation__submenu-item Услуга 3
                    li.navigation__item
                        a(src="#" class="navigation__button") Вакансии
                    li.navigation__item
                        a(src="#" class="navigation__button") Новости
                    li.navigation__item.navigation__toggle-menu
                        a(src="#" class="navigation__menu") Соглашения
                        ul.navigation__submenu
                            li.navigation__submenu-item Соглашение 1
                            li.navigation__submenu-item Соглашение 2
                -  
                if (!username)
                    a(src="#" class="navigation__login-button navigation__item") Войти
                    a(src="#" class="navigation__sign-up-button navigation__item") Зарегистрироваться 
                else 
                    .navigation__divider.navigation__item
                    a(src="#" class="navigation__button navigation__item")= username