include ./includes/mixins.pug   

mixin footer()
    .footer
        .footer__container.footer-info
            .footer__title
                .main-logo.footer__footer-logo 
                    img(src="../img/Logo.svg", alt="logo")
                p.footer__link
                    | Бронирование номеров в лучшем <br>
                    | отеле 2019 года по версии <br>
                    | ассоциации «Отельные взгляды» 

            nav.footer__title навигация
                ul.footer__list 
                    li.footer__item 
                    a.footer__link(href="#") О нас
                    li.footer__item 
                        a.footer__link(href="#") Новости
                    li.footer__item 
                        a.footer__link(href="#") Служба поддержки
                    li.footer__item 
                        a.footer__link(href="#") Услуги
            nav.footer__title о нас
                ul.footer__list 
                    li.footer__item 
                    a.footer__link(href="#") О сервисе
                    li.footer__item 
                        a.footer__link(href="#") Наша команда
                    li.footer__item 
                        a.footer__link(href="#") Вакансии
                    li.footer__item 
                        a.footer__link(href="#") Инвесторы
            nav.footer__title Служба поддержки
                ul.footer__list 
                    li.footer__item 
                    a.footer__link(href="#") Соглашения
                    li.footer__item 
                        a.footer__link(href="#") Сообщества
                    li.footer__item 
                        a.footer__link(href="#") Связь с нами
            nav.footer__title Подписка
                ul.footer__list 
                    li.footer__item 
                    a.footer__link(href="#") 
                        | Получайте специальные <br>
                        | предложения и новости сервиса
                    li.footer__item 
                        form.footer__form(action="#", method="post") 
                            input#footer__input-text.footer__input-text(type="text", name="subscribe-text")
                            button.footer__submit-button(type='submit') 
        .footer__container.footer__credits
            p.footer__link.footer__no-margin Copyright © 2018 Toxin отель. Все права защищены.
            .footer__social-container
                img.footer__social-logo(src="../img/twitter.svg", alt="twitter")
                img.footer__social-logo(src="../img/facebook.svg", alt="facebook")
                img.footer__social-logo(src="../img/instagram.svg", alt="instagram")


+doctypeHead("Headers & Footers")
body.headers-footers
    include ./includes/ui-kit-header
    .wrapper
        +header()
    .wrapper
        +header("Юлий Цезарь")
    .wrapper
        +footer()
