.footer-mobile 
    .footer-mobile__logo
        include ../logo/logo.pug
    p.footer-mobile__copyright Copyright © 2018 Toxin отель. Все права защищены.
    .footer-mobile__social 
        include ../social-logos/social-logos.pug