.logo__image {
  width: 106px;
  height: 40px;
}

.social-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-logos__logo {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

.social-logos__logo:last-child {
  margin-right: 0;
}

.footer-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.footer-mobile__logo {
  margin-bottom: 20px;
}

.footer-mobile__copyright {
  margin-bottom: 25px;
}
