.social-logos
    img.social-logos__logo(src="/src/block/social-logos/img/twitter.svg", alt="twitter")
    img.social-logos__logo(src="/src/block/social-logos/img/facebook.svg", alt="facebook")
    img.social-logos__logo(src="/src/block/social-logos/img/instagram.svg", alt="instagram")