.footer
    .footer__container.footer__container_upper
        .footer__column.footer__column_1
            .main-logo.footer__footer-logo 
                img(src="../img/Logo.svg", alt="logo")
            p.footer__link
                | Бронирование номеров в лучшем <br>
                | отеле 2019 года по версии <br>
                | ассоциации «Отельные взгляды» 
        nav.footer__column.footer__column_2 
            ul.footer__list 
                li.footer__item 
                    p.footer__link.footer__link_main навигация
                li.footer__item 
                    a.footer__link(href="#") О нас
                li.footer__item 
                    a.footer__link(href="#") Новости
                li.footer__item 
                    a.footer__link(href="#") Служба поддержки
                li.footer__item 
                    a.footer__link(href="#") Услуги
        nav.footer__column.footer__column_3 
            ul.footer__list 
                li.footer__item 
                    p.footer__link.footer__link_main о нас
                li.footer__item 
                    a.footer__link(href="#") О сервисе
                li.footer__item 
                    a.footer__link(href="#") Наша команда
                li.footer__item 
                    a.footer__link(href="#") Вакансии
                li.footer__item 
                    a.footer__link(href="#") Инвесторы
        nav.footer__column.footer__column_4 
            ul.footer__list 
                li.footer__item 
                    p.footer__link.footer__link_main Служба поддержки
                li.footer__item 
                    a.footer__link(href="#") Соглашения
                li.footer__item 
                    a.footer__link(href="#") Сообщества 
                li.footer__item 
                    a.footer__link(href="#") Связь с нами
        nav.footer__column
            ul.footer__list 
                li.footer__item 
                    p.footer__link.footer__link_main Подписка
                li.footer__item.footer__item_pre-form
                    p.footer__link(href="#") 
                        | Получайте специальные <br>
                        | предложения и новости сервиса
                li.footer__item 
                    form.footer__form(action="#", method="post") 
                        input#footer__input-text.footer__input-text(type="text", name="subscribe-text" placeholder="Email")
                        button.footer__submit-button(type='submit' ) 
    .footer__separator
    .footer__container.footer__container_lower
        p.footer__link.footer__no-margin Copyright © 2018 Toxin отель. Все права защищены.
        .footer__social-container
            img.footer__social-logo(src="../img/twitter.svg", alt="twitter")
            img.footer__social-logo(src="../img/facebook.svg", alt="facebook")
            img.footer__social-logo(src="../img/instagram.svg", alt="instagram")