@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
h1 {
  margin: 0;
}

.colors-sample-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

.colors-sample-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: bottom;
  height: 70px;
  padding-left: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 19px;
  line-height: 28px;
}

.colors-sample-item ::first-line {
  font-weight: bold;
}

.colors-sample-item__sample {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background-color: #000;
}

.colors-sample-item__sample_dark-100 {
  background-color: #1F2041;
}

.colors-sample-item__sample_dark-25 {
  background-color: #1F204140;
}

.colors-sample-item__sample_dark-5 {
  background-color: #1F20410D;
}

.colors-sample-item__sample_dark-50 {
  background-color: #1F204180;
}

.colors-sample-item__sample_dark-75 {
  background-color: #1F2041BF;
}

.colors-sample-item__sample_green {
  background-color: #6FCF97;
}

.colors-sample-item__sample_purple {
  background-color: #BC9CFF;
}

.colors-sample__item {
  margin-top: 20px;
}

.colors-sample__item:first-child {
  margin-top: 0px;
}

.colors-types {
  padding: 37px 150px 145px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-ui-kit {
  padding: 30px;
}

.types-sample__item {
  margin-bottom: 50px;
}

.types-sample__item:last-child {
  margin-bottom: 0;
}

.types-sample-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.types-sample-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 30px;
}

.types-sample-item__name {
  display: inline;
}

.types-sample-item__name_h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #1F204140;
}

.types-sample-item__name_h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  color: #1F204140;
}

.types-sample-item__name_h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #1F204140;
}

.types-sample-item__name_body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #1F204140;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #1F2041;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

p.body-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1F2041BF;
}
