$dark-100: #1f2041;
$dark-75: #1f2041bf;
$dark-50: #1f204180;
$dark-25: #1f204140;
$dark-5: #1f20410d;
$primary: #bc9cff;
$secondary: #6fcf97;
$gradient: linear-gradient($primary, #8ba4f9);
$container-width-max: 1160px;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

h1 {
    margin: 0;
}

.colors-sample-item {
    display: flex;
    height: 70px;

    &__description {
        display: flex;
        align-items: center;
        vertical-align: bottom;
        height: 70px;
        padding-left: 40px;
        font-family: Montserrat;
        font-style: normal;
        font-size: 19px;
        line-height: 28px;
    }
    ::first-line {
        font-weight: bold;
    }

    &__sample {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        background-color: #000;
    }
    &__sample_dark-100 {
        background-color: $dark-100;
    }
    &__sample_dark-25 {
        background-color: $dark-25;
    }
    &__sample_dark-5 {
        background-color: $dark-5;
    }
    &__sample_dark-50 {
        background-color: $dark-50;
    }
    &__sample_dark-75 {
        background-color: $dark-75;
    }
    &__sample_green {
        background-color: $secondary;
    }
    &__sample_purple {
        background-color: $primary;
    }
}
.colors-sample {
    &__item {
        margin-top: 20px;
        &:first-child {
            margin-top: 0px;
        }
    }
}
.colors-types {
    padding: 37px 150px 145px 150px;
    display: flex;
    justify-content: space-between;
    &__colors {
    }
    &__types {
    }
}
.header-ui-kit {
    padding: 30px;
}

.types-sample {
    &__item {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.types-sample-item {
    display: flex;

    &__description {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 30px;
    }
    &__name {
        display: inline;
    }

    &__name_h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        color: $dark-25;
    }

    &__name_h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;
        text-align: right;
        color: $dark-25;
    }

    &__name_h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        color: $dark-25;
    }

    &__name_body {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: $dark-25;
    }
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: $dark-100;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: $dark-100;
}

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-100;
}

p.body-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
}

.headers-footers {
    background-color: #f4f4f6;
}

.main-header {
    display: flex;
    justify-content: center;

    background-color: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    &__container {
        width: 100%;
        max-width: $container-width-max;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main-logo {
    width: 106px;
    height: 40px;
}

.navigation {
    display: flex;
    height: 70px;
    align-items: center;

    &__button {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $dark-75;
    }
    &__item {
        margin-right: 20px;
        display: inline-flex;
        align-items: center;
    }
    :last-child {
        margin-right: 20px;
    }
    &__list {
        display: flex;
    }
    &__login-button {
        border-radius: 22px;
        padding: 10px 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #bc9cff;
        border: 2px solid;
        display: inline-flex;
        align-items: center;
        margin: 15px 20px 15px 0;
    }
    &__menu {
        display: flex;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $dark-75;
        align-items: center;
        height: 100%;
    }

    &__menu::after {
        display: block;
        justify-content: center;
        align-items: center;
        content: "";
        background: transparent url("../img/expand_more.svg") no-repeat;
        background-position: center;
        width: 24px;
        height: 21px;
    }

    &__menu:hover + &__submenu {
        display: block;
    }

    &__submenu:hover {
        display: block;
    }

    &__sign-up-button {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: white;
        padding: 10px 20px;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: 22px;
        display: inline-flex;
        align-items: center;
        margin: 15px 20px 15px 0;
    }

    &__submenu {
        display: none;
        position: absolute;
        top: 70px;
        left: -12px;
    }

    &__submenu-item {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $dark-75;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% + 24px);
        height: 50px;
        border-bottom: 1px solid gray;
    }
    :last-child {
        border-bottom: none;
    }

    &__button_bold {
        font-weight: bold;
    }

    &__toggle-menu {
        position: relative;
    }

    &__divider {
        border-right: 1px solid rgba(31, 32, 65, 0.1);
        height: 30px;
    }
}


.footer {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

    &__container {
        display: flex;
        max-width: $container-width-max;
        justify-content: space-between;
        width: $container-width-max;
    }
    &__container_lower {
    }
    &__credits {
    }
    &__footer-logo {
    }
    &__form {
    }
    &__item {
    }
    &__link {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $dark-75;
        text-decoration: none;
        text-transform: none;
        margin-top: 20px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    &__social-container {
    }
    &__submit-button {
    }
    &__subscribe {
    }
    &__support {
    }
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-100;
    }
}
.header-ui-kit {
}
.headers-footers {
}
.main-header {
    &__container {
    }
    &__item {
    }
}
.main-logo {
}
.navigation {
    &__button {
    }
    &__button_bold {
    }
    &__divider {
    }
    &__item {
    }
    &__list {
    }
    &__login-button {
    }
    &__menu {
    }
    &__sign-up-button {
    }
    &__submenu {
    }
    &__submenu-item {
    }
    &__toggle-menu {
    }
}
.wrapper {
}

.wrapper {
    margin-top: 40px;
}
