
.headers-footers {
    background-color: #f4f4f6;
}

.main-header {
    display: flex;
    justify-content: center;

    background-color: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    &__container {
        width: 100%;
        max-width: $container-width-max;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main-logo {
    width: 106px;
    height: 40px;
}

.navigation {
    display: flex;
    height: 70px;
    align-items: center;

    &__button {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $dark-75;
    }
    &__item {
        margin-right: 20px;
        display: inline-flex;
        align-items: center;
    }
    :last-child {
        margin-right: 20px;
    }
    &__list {
        display: flex;
    }
    &__login-button {
        border-radius: 22px;
        padding: 10px 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #bc9cff;
        border: 2px solid;
        display: inline-flex;
        align-items: center;
        margin: 15px 20px 15px 0;
    }
    &__menu {
        display: flex;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $dark-75;
        align-items: center;
        height: 100%;
    }

    &__menu::after {
        display: block;
        justify-content: center;
        align-items: center;
        content: "";
        background: transparent url("../img/expand_more.svg") no-repeat;
        background-position: center;
        width: 24px;
        height: 21px;
    }

    &__menu:hover + &__submenu {
        display: block;
    }

    &__submenu:hover {
        display: block;
    }

    &__sign-up-button {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: white;
        padding: 10px 20px;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: 22px;
        display: inline-flex;
        align-items: center;
        margin: 15px 20px 15px 0;
    }

    &__submenu {
        display: none;
        position: absolute;
        top: 70px;
        left: -12px;
    }

    &__submenu-item {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $dark-75;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% + 24px);
        height: 50px;
        border-bottom: 1px solid gray;
    }
    :last-child {
        border-bottom: none;
    }

    &__button_bold {
        font-weight: bold;
    }

    &__toggle-menu {
        position: relative;
    }

    &__divider {
        border-right: 1px solid rgba(31, 32, 65, 0.1);
        height: 30px;
    }
}


.footer {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

    &__container {
        display: flex;
        max-width: $container-width-max;
        justify-content: space-between;
        width: $container-width-max;
        padding-bottom: 100px;
    }
    &__info {
        
    }
    &__container_lower {
    }
    &__credits {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        padding-bottom: 0;
    }
    &__footer-logo {
    }
    &__form {
    }
    &__item {
        margin-bottom: 20px;
    }:last-child {
        margin-bottom: 0px;
    }
    &__link {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $dark-75;
        text-decoration: none;
        text-transform: none;
        margin-top: 20px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    &__social-container {
    }
    &__submit-button {
        background-image: scr("../img/arrow_forward.svg");
        width: 44px;
        height: 44px;
        background-position: center;
    }
    &__subscribe {
    }
    &__support {
    }
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-100;
    }
    &__social-logo{
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }:last-child{
        margin-right: 0px;
    }
    &__no-margin{
        margin: 0;
    }
    &__input-text{
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        width: 260px;
        height: 44px;
    }
}

.wrapper {
    margin-top: 40px;
}
